<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container">
      <ul class="navbar-nav">
          <li class="navbar-item">
              <a routerLink="courseList" class="nav-link" routerLinkActive='active'>Course List</a>
          </li>
          <li class="navbar-item">
              <a routerLink="createCourse" class="nav-link" routerLinkActive='active'>Create Course</a>
          </li>
          <li class="navbar-item">
              <a routerLink="participants" class="nav-link" routerLinkActive='active'>Manage Participants</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>